{% extends "base.html" %}
{% block content %}

<h1>HOLA COORDINADOR :3 &#128073;&#128072;</h1>
<h1>Panel administrativo</h1>


<div>
    <div>
        <form>
            Formulario para la carga de los proyectos
        </form>

    </div>

    <div>
        Page 2
        <div>
            Bottones de acciones
            <a href="#">Cambio de contraseña </a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        <div>
            Tabla de catalogo cargado por el coordinador
        </div>

    </div>
</div>



{% endblock content %}
